@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;

    overflow-y: hidden !important;

    margin: 0;
    padding: 0;
}

#app {
    margin: 40px;
}

.screenshot {
    width: 50vw;
    transform: translateY(-45px);

    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.wordmark {
    width: 20vh;
}

.center {
    display: flex;

    align-items: center;
    align-content: center;
    justify-content: center;
}

.text {
    margin-top: 30px;
}

p {
    font-size: 22px;
    color: #ED9F5A;
}

.min-container {
    margin: 15px;
}

a {
    all: unset;

    cursor: pointer;
    text-emphasis: none;
}

@media only screen and (max-width: 800px) {
    .screenshot {
        margin-top: 20vh;

        width: 95vw;
        transform: translateY(-15px) !important;
    
        border-radius: 10px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    }

    .wordmark {
        width: 15vh;
    }

    p {
        font-size: 18px;
        color: #ED9F5A;
    }
}