@font-face {
	font-family: 'Gilroy';
	src: url('assets/Gilroy.ttf');
}
body {
	padding:0;
	margin:0;
	overflow:hidden;
	background-image: linear-gradient(#FEC995,#FFA656);
	height:100%;
	width:100%;
	font-family: Gilroy, sans-serif;
}
a {
	color:white !important;
}

.x-flex {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-moz-box-orient: horizontal;-moz-box-direction: normal;-ms-box-orient: horizontal;-ms-box-direction: normal;-ms-flex-direction: row;flex-direction: row;width: 100%;height:100%;}
.y-flex {display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-moz-box-orient: vertical;-moz-box-direction: normal;-ms-box-orient: vertical;-ms-box-direction: normal;-ms-flex-direction: column;flex-direction: column;}

.position {
	-webkit-box-pack: center;-moz-box-pack: center;-ms-box-pack: center;-ms-flex-pack: center;justify-content: center;
	-webkit-box-align: center;-moz-box-align: center;-ms-box-align: center;-ms-flex-align: center;-ms-grid-row-align: center;align-items: center;
	display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-moz-box-orient: horizontal;-moz-box-direction: normal;-ms-box-orient: horizontal;-ms-box-direction: normal;-ms-flex-direction: row;flex-direction: row;width: 100%;height:100%;
}
.notification {
	width:50%;height:50%;
}
.element {
	margin-bottom:0.5%;
	display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-moz-box-orient: horizontal;-moz-box-direction: normal;-ms-box-orient: horizontal;-ms-box-direction: normal;-ms-flex-direction: row;flex-direction: row;width: 100%;height:100%;
	-webkit-box-pack: justify;-moz-box-pack: justify;-ms-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
	height:20%;
	width:100%;
}
.element > div {
	width:40%;
	color:white;
}
.element img {
	margin:2%;
	height:90%;
	width:auto;
}
.element-f {
	margin-top:-0.5%;
	display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-moz-box-orient: horizontal;-moz-box-direction: normal;-ms-box-orient: horizontal;-ms-box-direction: normal;-ms-flex-direction: row;flex-direction: row;width: 100%;height:100%;
	-webkit-box-pack: justify;-moz-box-pack: justify;-ms-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;
	height:20%;
	width:100%;
}
.element-f > div {
	width:40%;
	color:white;
}
.element-f img {
	margin:2%;
	height:40%;
	width:auto;
}
.split {
	padding:2%;
	border-top:1px solid white;
	border-bottom:1px solid white;
}
.split > h1 {
	padding:0;
	margin:1%;
	color:white;
	font-size:3.5vw;
	text-align:center;
}
.split > p {
	padding:0;
	margin:1%;
	font-size:1vw;
	color:white !important;
	text-align:center;
}
p {
	padding:0;
	font-size:1vw;
	color:white !important;
	text-align:left;
}
br {
	padding:0;
	margin:0;
}
